mixin header(data)
	- data = data || {}

	.header
		.header__container
			a.logo-site(href="/")
				| LOGO
				//- img(src=`${pathPrefix}img/logos/logo.svg`, alt="", width="140" height="48")


			nav.header__nav
				ul.nav.nav-header
					li.menu-item
						a.nav__link(href='#') Index
					li.menu-item.menu-item-has-children
						a.nav__link(href='#') About
						ul.sub-menu
							li.menu-item
								a.nav__link(href='#') Inner 1
							li.menu-item
								a.nav__link(href='#') Inner 2
							li.menu-item
								a.nav__link(href='#') Inner 3
					li.menu-item
						a.nav__link(href='#') Contact
			.header__trigger.js-menu-trigger
				span

			//- .header__lang
				ul
					each data in languages
						li
							a(href=data.url class=data.isActive && 'is-active') #{data.lang}
